<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type='image/png' href="..//static/img/logo-icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <title>Devfólio</title>
</head>
<body>
    
  <i class="bi bi-list menu-mobile"></i>

  <aside id='header'>

    <!-- Midias sociais -->
    <section class="profile">

      <img src="../static/img/ana-perfil.jpg" alt="foto da Ana">
      <h1>Ana Maria</h1>

      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.linkedin.com/in/anita1981/"><i class="bi bi-linkedin"></i></a>
        <a target="_blank" href="https://github.com/anamsilva1981"><i class="bi bi-github"></i></a>
        <a target="_blank" href="https://www.instagram.com/anamsilva1981/"><i class="bi bi-instagram"></i></a>
        <a target="_blank" href="https://www.facebook.com/anamsilva1981/"><i class="bi bi-facebook"></i></a>
      </div>
    </section>

    <!--Barra lateral-->
    <nav id='navbar' class="nav-menu">
      <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i>  Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="#sobre"><i class="bi bi-file-person"></i> Sobre</a></li>
          <li class="nav-item"><a class="nav-link" href="#habilidades"><i class="bi bi-card-checklist"></i> Habilidades</a></li>
          <li class="nav-item"><a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-arrow-down"></i> Currículo</a></li>
          <li class="nav-item"><a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a></li>
          <li class="nav-item"><a class="nav-link" href="#voluntariado"><i class="bi bi-people"></i> Voluntáriado</a></li>
          <li class="nav-item"><a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a></li>
  
      </ul>
      
    </nav>

  </aside>


  <main id="main">

    <section id="inicio" class="row m-0 p-0">
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow">Ana Maria</h2>
        <span id="subtitle" class="text-white text-shadow">Desenvolvedora Full Stack</span>
      </div>
      
      <div class="col-md-7 d-flex justify-content-end align-items-end">
        <div id="arraste" class="d-flex align-items-center">
          <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
          <a href="#sobre">Arraste para mais</a>
        </div>
      </div>
    </section>

    <section class="container mt-5" id='sobre'>
      <div class="row w-1000">
        <div class="col-md-12">
          <h2 class='pt-3'>Sobre</h2>
          <p>Sou estudante na Blue Edtech cursando Full Stack Junior. Me formei em Técnico em Telecomunicações no Senai Robert Simosens em 2014 e tambem em Bacharel em Administração de Empresas pela UNIP - Universidade Paulista (cursando ultimo semestre). </br>
            Iniciei minha jornada no mercado de trabalho na área comercial em 2002 e passei por departamento como financeiro, administrativo e técnico.</br>
            Atuei na JUNIP empresa Junior da Unip de 2017 a 2019, iniciando como consultor, progredindo para diretor de marketing, até assumir a presidência. Participei da reestruturação da EJ que possuia 4 voluntários e ao sair eram 58, vários processos seletivos realizados, projetos e departamentos criados.</br>            
            Em 2018 participei tambem do projeto Dando Asas, inicialmente como mentora e logo em seguida como vice presidente, apoiando e ajudando em várias ações do projeto.</br>            
            Em 2019 atuei no grupo dos escoteiros do ar como fotógrafa voluntaria . 
            Tenho facilidade em trabalho de equipe, sou criativa, participativa e resiliente.</br>            
            Tenho sede de aprendizado e gosto muito de contribuir, pois acredito que é através deles que podemos sempre evoluir, tenho mais de 40 cursos complementares realizados e busco sempre novos conhecimentos que possam somar.</p>        
        </div>

      </div>
      
      <div class="row mt-4" >
        <div class="col-md-4">
          <img class="img-fluid shadow" src="../static/img/ana-perfil.jpg" alt="Foto da Ana Maria">
        </div>

        <div class="col-md-8">
          <h3>Desenvolvedora Full Stack Junior</h3>
          <p>Estudante de Full Stack na Blue EdTech.</p>

          <div class="row mt-3 mb-3">
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">Niver: <span class="fw-lighter">31 de Outubro de 1981</span> </li>
                <li class="list-group-item">Idade: <span class="fw-lighter">40 anos</span> </li>
                <li class="list-group-item">Cidade: <span class="fw-lighter">São Paulo</span> </li>
                <li class="list-group-item">Estado: <span class="fw-lighter">SP</span> </li>
              
              </ul>
            </div>
            
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">Hobby: <span class="fw-lighter">Diversão em familia</span> </li>
                <li class="list-group-item">GitHub: <a href="https://github.com/anamsilva1981" target="_blank" class="fw-lighter">anamsilva1981</a></li>
                <li class="list-group-item">Estudo: <span class="fw-lighter">Blue EdTech</span> </li>
                <li class="list-group-item">Experiência: <span class="fw-lighter">01 ano</span> </li>
              </ul>
            </div>
          </div>

          <p>Gosto de ler, estudar, me divertir em familia e entre amigos passando momentos agradáveis com as pessoas que gosto</p>

          

        </div>

      </div>

    </section>

    <section class="mt-5 section-bg" id="habilidades">
      
      <div class="container pb-5">
        <h2 class='pt-5'>Habilidades</h2>
        <p>Durante a minha jornada de aprendizado adquiri algumas habilidades técnicas e não técnicas, a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada uma delas.</p>

        <div class="row">

          <div class="col-md-6">

            <p class="mt-3 mb-0">HTML</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

            <p class="mt-3 mb-0">CSS</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            
            <p class="mt-3 mb-0">JavaScript</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            
            <p class="mt-3 mb-0">NodeJs</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            
            <p class="mt-3 mb-0">Express</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

            <p class="mt-3 mb-0">outra</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

          </div>

          <div class="col-md-6">

            <p class="mt-3 mb-0">Python</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

            <p class="mt-3 mb-0">Flask</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            
            <p class="mt-3 mb-0">MongoDb</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            
            <p class="mt-3 mb-0">posterGreeSql</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            
            <p class="mt-3 mb-0">React</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

            <p class="mt-3 mb-0">GitHub</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

          </div>
        </div>

        <hr class='w-50 me-auto ms-auto'>

        <div class="row">
          <div class="bol-md-6">

            <p class="mt-3 mb-0">Trabalho em Equipe</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

            <p class="mt-3 mb-0">Proatividade</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

          </div>

          <div class="bol-md-6">
            
            <p class="mt-3 mb-0">Orientação a resultado</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

            <p class="mt-3 mb-0">Pensameto estratégico</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

          </div>


        </div>

      </div>


    </section>

  <section class="mt-5 cv" id="curriculo">

    <div class="container pb-5">
      <h2 class="pt-3 pb-4">Currículo</h2>

      <div class="row">
        <div class="col-md-6">
          <h3 class="cv-title">Educação</h3>

          <div class='cv-item'>
            <h4>Desenvolvedor Full Stack</h4>
            <h5>2021-2022</h5>
            <p><em>Blue EdTech</em></p>
            <p>Descrição</p>
          </div>

          <div class='cv-item'>
            <h4>Administração de Empresas</h4>
            <h5>2015-2019</h5>
            <p><em>UNIP - Universidade Paulista</em></p>
            <p>Descrição</p>
          </div>          
          
          <div class='cv-item'>
            <h4>Tecnico em Telecomunicações</h4>
            <h5>2013-2014</h5>
            <p><em>Senai Robert Simonsens</em></p>
            <p>Descrição</p>
          </div>  

        </div>
        <div class="col-md-6">
          <h3 class="cv-title">Profissional</h3>
        
          <div class='cv-item'>
            <h4>Coordenador de Vendas</h4>
            <h5>2018-2021</h5>
            <p><em>TMF Componentes eletro eletrônicos</em></p>
            <p>Descrição</p>
          </div>  

          <div class='cv-item'>
            <h4>Assistente Financeiro </h4>
            <h5>2017-2018o</h5>
            <p><em>KrocoKar Acessórios Automotivos</em></p>
            <p>Descrição</p>
          </div>  

          <div class='cv-item'>
            <h4>Nome do curso</h4>
            <h5>Data do curso</h5>
            <p><em>Instituição</em></p>
            <p>Descrição</p>
          </div>  
        </div>
      </div>


    </div>

  </section>

  <section class="section-bg mt-5" id="portfolio">
    <div class="container pb-5 pt-5">
      <h2 class="pb-4">portfólio</h2>

      <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card">
                  <img src="../static/img/projeto_lampada.jpg" class="card-img-top" alt="Projeto Lampada">
                  <div class="card-body">
                    <h5 class="card-title">Projeto Lâmpada JavaScript</h5>
                    <p class="card-text">Projeto realizado em JavaScript com a finalidade de aplicar o conhecimento adquirido.</p>
                    <div class="d-glex justify-content-center"><a href="https://anamsilva1981.github.io/lampada/" target='_blank' class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="../static/img/projeto_calculadora.png" class="card-img-top" alt="Projeto Calculadora">
                  <div class="card-body">
                    <h5 class="card-title">Projeto Calculadora IMC JavaScript</h5>
                    <p class="card-text">Projeto realizado em JavaScript com a finalidade de aplicar o conhecimento adquirido.</p>
                    <div class="d-glex justify-content-center"><a href="https://anamsilva1981.github.io/Calculadora_IMC/" target='_blank' class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="../static/img/projeto-desapega2.png" class="card-img-top" alt="Projeto Desapega">
                  <div class="card-body">
                    <h5 class="card-title">Projeto Desapega</h5>
                    <p class="card-text">Projeto realizado em NodeJS, Javascript, Html e CSS com a finalidade de conclusão de módulo da Blue EdTech.</p>
                    <div class="d-glex justify-content-center"><a href="https://desapegasite.herokuapp.com/" target='_blank' class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card">
                  <img src="../static/img/projeto_lampada.jpg" class="card-img-top" alt="Projeto Lampada">
                  <div class="card-body">
                    <h5 class="card-title">Projeto Lâmpada JavaScript</h5>
                    <p class="card-text">Projeto realizado em JavaScript com a finalidade de aplicar o conhecimento adquirido.</p>
                    <div class="d-glex justify-content-center"><a href="https://anamsilva1981.github.io/lampada/" target='_blank' class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="../static/img/projeto_calculadora.png" class="card-img-top" alt="Projeto Calculadora">
                  <div class="card-body">
                    <h5 class="card-title">Projeto Calculadora IMC JavaScript</h5>
                    <p class="card-text">Projeto realizado em JavaScript com a finalidade de aplicar o conhecimento adquirido.</p>
                    <div class="d-glex justify-content-center"><a href="https://anamsilva1981.github.io/Calculadora_IMC/" target='_blank' class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="../static/img/projeto-desapega2.png" class="card-img-top" alt="Projeto Desapega">
                  <div class="card-body">
                    <h5 class="card-title">Projeto Desapega</h5>
                    <p class="card-text">Projeto realizado em NodeJS, Javascript, Html e CSS com a finalidade de conclusão de módulo da Blue EdTech.</p>
                    <div class="d-glex justify-content-center"><a href="https://desapegasite.herokuapp.com/" target='_blank' class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
    </div>

  </section>




  </main>

  <script src="..//static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
  

</body>
</html>